html {
    background: #e3e3e3;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;

}
h1 {
    font-size: 3em;
    margin: 0;
}
h2 {
    font-weight: 300;
    border-bottom: 1px dotted #242424;
    margin: 20px;

}
p {
    line-height: 1.4em;
}
.blog-post {
    border-bottom: 1px dotted #ccc;
}
#blog {
    border-top: 1px dotted #ccc;
}
.title {
    position: sticky;
    top: 0;
}
section{
    display: flex;
}
article {
    padding: 20px;
    margin: 20px;
}
.picture{
    float: left;
    padding: 10px;
    margin: 10px;
}